</main>

<footer>
  <!-- Add a dynamic year to the footer using JS. -->
  <% let currentDate = new Date();%>
   <% let currentYear = currentDate.getFullYear();%>  <!-- Get the current year to display in the footer of our website -->
  <p class = "copyright anything_text_or_boxes">Copyright © <%=currentYear%> </p> <!-- Displays the current year for copyright-->
</footer>
</body>


</html>