</main>

<footer>
  <a href = "https://linkedin.com/in/carlosrdc2023">
      <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href = "#">
      <i class="fa-brands fa-codepen"></i> <!-- I could make a codepen account sometime later to showcase my html and css work -->
  </a>
  <a href = "https://github.com/Bolivian33000">
      <i class="fa-brands fa-github"></i>
  </a>

</footer>
</body>


</html>