<!DOCTYPE html>
<html lang="en"> <!-- Declares the document type and sets the language to English -->

<head>
  <!-- Preconnects to Google Fonts to improve load time -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Links to the Google Font "PT Serif" with different styles and weights -->
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <!-- Links to Bootstrap CSS for styling and layout -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <!-- The reason we have the href on the header.ejs file is because the head tags are located here.-->
  <!-- Usually the hrefs are located where the header tags reside.-->

  <meta charset="UTF-8"> <!-- Sets the character encoding for the document -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the viewport to ensure proper scaling on different devices -->
  <link rel="stylesheet" href="/styles/style.css" type="text/css"> <!-- Links to the external CSS stylesheet -->
  <title class="anything_text_or_boxes">Carlos' Blog</title> <!-- Sets the title of the document with a class for styling -->

</head>

<body>
  <h1 class="carlos_blog_title blog_title">Carlos' Blog!</h1> <!-- Main heading of the page with a class for styling -->

  <!--Script Link put before end of </body> -->
</body>

<main>
