<!DOCTYPE html>
<html lang="en"> <!-- Declares the document type and sets the language to English -->

<head>
  <meta charset="UTF-8"> <!-- Sets the character encoding for the document -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the viewport to ensure proper scaling on different devices -->
  <!-- Preconnects to Google Fonts to improve load time -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/style.css" type="text/css"> <!-- Links to the external CSS stylesheet -->
  <title>Carlos' Blog</title> <!-- Sets the title of the document with a class for styling -->
  

</head>

<body>
  <h1 class="blog_title">Carlos' Blog!</h1> <!-- Main heading of the page with a class for styling -->

</body>

<main>
