
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;/* what this does is resets any default styling the webpage may have */
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;*/
    font-style: normal;
    color: white;
    transition-duration: 300ms;
    background-color: #1b263f;;
}


.blog_title {
    font-family: "Jost", serif;
    font-size: 6rem; 
    font-weight: bold; 
    color: white;
    letter-spacing: 3px;
    text-align: center; 
    margin-top: 0px;
    user-select: None;
    
}

.create_post_container {
    display: grid;
    grid-template-columns: 1fr; 
    padding: 6px;
    width: 70%;
    max-width: 500px; 
    margin: 0 auto; /* centers container horizontally */
    border: 5px solid;
    border-color: #f4f4f9;
    border-radius: 2px;
}

.form_container {
    display: flex;
    flex-direction: column;
}

.create_post_item {
    padding-left: 6px;
    font-size: 1.1em;
}


input, textarea {

    border-radius: 5px;
    border: 1px solid #f4fdff;
    background-color: #f4fdff;
    color: #1b263f;

}


button {
    cursor: pointer;
    user-select: none;
    background: white;
    padding: 2px 6px;
    gap: 6px; /* does not do anything major */ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1b263f;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-left: 1px;
}


button:hover {
    transform: scale(1.1);   /* adds a hover effect to increase the size of the div when client hovers */
    
}

.what-is-new  {
    user-select: None;
    margin-left: 8px;
}


.created_post_container{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    padding: 6px;
    width: 70%;
    max-width: 600px; 
    margin: 10px auto; 
    border: 5px solid;
    border-color: #f4f4f9;
    border-radius: 2px;
} 

.edit_title  {
    margin-top: 25px;
}


.textarea_item {
    width: 50%;
}


.created_post_item {
    padding-left: 6px;
    font-size: 1.1em;
}

.created_post_item > input, .created_post_item > textarea {

    margin-bottom: 22px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
    font-size: 1.2em;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    transform: rotate(-45deg);
    opacity: 0.5; /* This allows us to rotate the icon to the left 45 degrees once we hover over each icon */
}
